
<%#= link_to "Add new user", new_user_registration_path %> <br>

<h3>Listing All Users for Admin</h3>

<%= will_paginate @users, class: "pagin" %>

<table>
  <thead>
    <tr>
      <th> user image </th>
      <th> Name + Link to Items </th>
      <th> # items posted </th>
      <th> admin? </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
  
      <tr class="<%= cycle('line-odd','line-even') %>">
        <td class='img-cell'> <%= image_tag user.image_url, class: "user-image" %></td>
        <td><%= link_to user.name, owner_items_url(owner: user) %></td>
        <td><%= user.items.count %></td>
        <td><%= user.admin? %></td>
          <% if user_signed_in? and current_user.admin? %>
	          <td>
	            <%#= link_to "edit", edit_user_path(id: user) %> 
	            <%= link_to "delete", delete_user_path(id: user), method: :delete, data: {confirm: "Are you sure?"} %>
	          </td>
	        <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<%= will_paginate @users, class: "pagin" %>
