
<!DOCTYPE html>
<html>
<head>
  <title><%= controller.controller_name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container"> 
			<%= link_to "Template App", root_url, id:'logo' %>
			<%= link_to "All Items", items_path, id:'catalog-logo' %>
			<%= link_to "All Users", users_path, id:'cart-logo' %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<% if current_user %>
						<li><%= link_to "My Account", edit_user_registration_path %></li>
						<% if not current_user.admin? %>
							<li><%= link_to "My Items", owner_items_url(owner: current_user) %></li>
						<% end %>
					<% end %>
					<li><%= link_to "HOME", root_url %></li>
					<% if current_user %>
						<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
						<li><%= image_tag current_user.image_url, class: "user-image" if current_user %></li>
					<% else %>
						<li><%= link_to "Log in", new_user_session_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	
		<div class="container">
			<div id='info-bar'> 
				<%= [current_user.id, current_user.name, current_user.admin? ? 'admin' : 'user'] if current_user %>

			<% flash.each do |name, message| %>
				<% message = "You are already logged in. Log out first please..." if message=="You are already signed in." %>
				<% message = "Loged in successfully..." if message=="Signed in successfully." %>
				<% message = "Loged out successfully..." if message=="Signed out successfully." %>
				<div class="<%= name %>"><small><%= name.capitalize %></small>: <%= message %> </div>
			<% end %>
			</div>
		</div>
		<div class="container">
			
			 	<marquee id='marq'>... this is an experimental and demonstrative site ... </marquee>
			
		</div>

	</header>
	
	<div class="container">
		

		<%= yield %>

	</div>

</body>

</html>
